h2, h3 {
    font-family: $styled-font;
    color: $main-dark;
}

.text-center {
    text-align: center;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.banner-principal {
    background-color: $main-dark;
    height: 400px;
}

#portafolio{
    background-color:$contrast-dark;

    .row {
        margin-bottom: 25px;
    }
    .item-portafolio {
        background: $white;
        p {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }   
}

footer {
    padding: 30px;

    .social-links {
        a {
            background: $main-dark;
            border-radius: 50%;
            color: $white;
            display: inline-block;
            text-decoration: none;
            padding: 10px;
            width: 22px;

            transition: all 0.3s linear;

            &:hover {
                background: $contrast-dark;
            }
        }
    }

    .footer-links {
        text-align: right;

        a {
            color: $contrast-dark;
            display: block;
            margin-left: 15px;
            text-decoration: none;
            float: right;
        }
    }
}