
$font-color: #2F2322;
$main-color: #212529;
$secondary: #665e5e;
$contrast: #fff;

$default-padding: 30px;

.image-container {
    height: 350px;
    width: 100%;
    img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

#subtitle {
    width: 100%;
    padding-left: $default-padding;
    padding-right: $default-padding;
    margin: auto;
    margin-top: 15px;
    color: $font-color;
    text-align: center;
}

#content-section {
    margin-top: 30px;
    padding-top: 20px;
    padding-left: $default-padding;
    padding-right: $default-padding;
}

#sub-title{
    color: $font-color;
    text-align: center;
}

.container-fluid {
    padding-right: 0%;
    padding-left: 0%;
}

.default-input {
    margin-bottom: 20px;
    border: 1px solid $main-color;
}

.form-control {
    border: 1px solid $main-color;
    margin-bottom: 20px;
    font-size: 12px;
}

.custom-button {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    border: 1px solid $main-color;
    color: $secondary;
    background-color: $contrast;
    transition: 0.3s;
    &:hover{
        color: $contrast;
        background-color: $secondary;
    }
}