// Colors
$main-dark: #03071e;
$main-light: #6a040f;
$light: #dc2f02;
$contrast-light: #f48c06;
$contrast-dark: #ffba08;
$light-gray: #b1b1b1;
$dark-bkg: #03071e;
$white: #ffffff;
$hero-bkg: #0a5999;
$gray: #575555;

// Variables
$styled-font: 'Nunito', sans-serif;
